/* IMPORT FONTS */
@font-face
{
    font-family: 'Alexander';
    src: url('Font/Blade\ Alexander.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Cinzel';
    src: url('Font/Cinzel-Regular.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Marcellus';
    src: url('Font/Marcellus-Regular.ttf') format('truetype') ;
}

/* BODY */

body {
    background-image: url(img/fond.png);
    font-family: 'Marcellus';
    color: brown;
    width: 95vw;
}


/* HEADER */
#titre {
    color: #B1221C;
    font-family: 'Alexander';
    font-size: 10em;
    text-align: center;
}

#nom {
    margin-top: 0.3vw;
}

header div p {
    margin: 0.2em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav li {
    text-align: center;
    display: inline;
    margin-right: 2em;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: brown;
}

a :hover {
    text-decoration: none;
}

/* MAIN */
h1 {
    color: #940602;
    font-family: 'Alexander';
    font-size: 4.5em;
    text-decoration: underline;
    margin-bottom: 0;
    text-align: center;
}

h2 {
    color: #940602;
    font-family: 'Cinzel';
    font-size: 2.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.embleme {
    height: 5vh;
}

.en_tete1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3em;
}

.en_tete2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

/* SECTION */
#masques, #ecarlates {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    margin-left: 3em;
    justify-content: flex-start;
}


#ombres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
    justify-content: flex-end;
}
/* ASIDE */
.illustration {
    height: 22vh;
    width: 10vw;
    border: 1px solid brown;
    border-radius: 20%;
}


/* ARTICLE */
article p {
    width: 50vw;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

article ul {
    width: 50vw;
}

article li {
    color: brown;
    list-style: none;
}

/* REMONTER */
#scroll_to_top { 
    position: fixed;  
    bottom: 5em; 
    right: 4em; 
  } 
  #scroll_to_top img { 
    width: 5em; 
  }